body{
    background-color: forestgreen;
    color: blueviolet;
}

h1,h2{
    text-align: center;
}
.home-image{
    width: 50%;
}
.container{
    text-align: center;
}
.rights{
    color: chocolate;
}