body{
    height: 100%;
    background-color: coral;
    font-weight: bold;
    color: blueviolet;
}

h1,h2{
    text-align: center;
}
.home-image{
    width: 50%;
}
.container{
    text-align: center;
}
.rights{
    color: chocolate;
}